body {
    margin: 0;
    padding: 0;
}
#head {
    text-align: center;
    font-family: serif;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    font-weight: bold;
    position: relative;
}
form {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0px auto;
}
.row {
    margin-bottom: 5px;
}
label {
    font-size: 12px;
    font-weight: bold;
    color: #888888;
    display: block;
}
label.checkbox {
    display: inline;
}
.input {
    margin: 0px;
    width: 200px;
    border: 1px solid #000000;
}
select {
    width: 200px;
}
.hidden {
    display: none;
}
#button-row {
    height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 11px;
}
.button {
    border-style: solid;
    background-color: inherit;
    cursor: pointer !important;
    font-style: normal !important;
    font-weight: bold !important;
    font: inherit !important;
    line-height: 1 !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle !important;
    position: relative;
    -moz-user-select: none;
    padding: 5px 10px 6px !important;
    font-size: 12px !important;
}
.button:hover {
    background-color: #ccc;
}
.button.valign {
    width: 100%;
    margin-top: 5px !important;
}

/*
 Additional styles for the options page only
 */
.optionstitle {
    font-size: 26px;
    background-image: linear-gradient(rgb(239, 239, 239), rgb(204, 204, 204));
}
img.titlelogo {
    vertical-align: text-bottom;
}
div.left {
    float: left;
    padding-left: 20px;
    padding-right: 10px;
/*    background-color: rgb(235, 238, 241);  */
}
div.right {
    width: 50%;
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;
    border-left: solid 1px #888;
}
.url_example {
    border-style: solid;
    border-width: 1px;
    background-color: #ccc;
    color: #000;
    font-style: normal ;
    line-height: 1;
    text-align: center !important;
    margin-top: 5px;
    margin-bottom: 0;
    -webkit-border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 5px 10px 6px !important;
    font-size: 12px !important;    
}
.url_highlight {
    color: #c08;
}
